html{
    background:#7498e0;
}

title{

}

body{ 
    margin-top:75px;
    margin-right:50px;
    margin-bottom:75px;
    margin-left:50px;
    background:#fae8cd;
    /*background-image:url("images/brushedsteel.jpg");*/

    padding:30px;
    font-family:arial;
    font-weight:500;
    font-size:25px;
    color:#071414;
    border-style:solid;
    border-width:7px;
    border-color:#f0ad44;

    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

input{
    margin-top:20px;
    width:100px;
}

li{
    
    list-style:none;
    margin-top:20px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:10px;
    
}

h1{

    font-family:"zapf chancery";
    letter-spacing:3px;
    font-weight:500;
    font-size:60px;
    text-align:center;
    color:#790000;
}

h2{
    font-family:arial;
    font-weight:500;
    font-size:30px;
    color:#790000;
    text-align:center;
}

h2{
    font-family:arial;
    font-weight:500;
    font-size:20px;
    color:#790000;
}

h3{
    font-family:arial;
    font-weight:500;
    font-size:15px;
    color:#790000;
}

p{
	text-align:justify;
}

table{
    padding:5px;
}

td{
	padding:10px;

    border-style:solid;
    border-width:3px;
    border-color:#128085;
	background:#ffffff;
    font-size:18px;
    
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

tr{	
	vertical-align:top;
	padding:5px;
	margin:10px;
}

a:link{
	font-size:22px;
    color:#790000;
    float:left;
    text-decoration:none;
}

a:visited{
	font-size:22px;
    color:#790000;
    float:left;
    text-decoration:none;
}

a:hover{
	font-size:22px;
    color:#790000;
    float:left;
    text-decoration:none;
}

a:active {
	font-size:22px;
    color:#790000;
    float:left;
    text-decoration:none;
}


#homelink{
	width:100%;
	float:left;
	font-family:arial;
    font-weight:500;
    font-size:20px;
    color:#790000;
}

#blogbody{
	padding:10px;
	width:800px;
	background:#ffffff;
    font-size:18px;
    
}

#bloglist{
	vertical-align:top;
	padding:10px;
	width:300px;
	text-align:center;
	background:#ffffff;
    font-size:18px;
}
#bodytitle{
	height:50px;
	width:100%;
	float:left;
	font-family:arial;
    font-weight:500;
    font-size:20px;
    color:#790000;
}
#bodyauthor{
	height:50px;
	width:50%;
	float:left;
    font-family:arial;
    font-weight:500;
    font-size:15px;
    color:#790000;
}
#bodydate{
	height:50px;
	width:50%;
	float:right;
    font-family:arial;
    font-weight:500;
    font-size:15px;
    color:#790000;
}
#bodytext{
	text-style:justify;
}
