function Fox.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Fox.move 4
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 8
call Random.next 1
pop local 0
push this 0
call Board.getFoxX 1
pop local 1
push this 0
call Board.getFoxY 1
pop local 2
push this 0
push local 1
push local 2
push local 0
call Board.getBlockage 4
pop temp 0
push local 1
push local 2
call Painter.drawBlank 2
pop temp 0
push this 0
push local 0
call Board.moveFox 2
pop temp 0
push constant 0
return
