function Main.main 10
push constant 100
pop local 0
push constant 10
pop local 1
push local 0
call Random.init 1
pop temp 0
push constant 5
call Board.new 1
pop local 8
push local 8
call Rabbit.new 1
pop local 9
label WHILE_EXP0
push local 2
push local 1
lt
not
if-goto WHILE_END0
push constant 500
call Sys.wait 1
pop temp 0
push local 2
push constant 1
add
pop local 2
push local 9
call Rabbit.move 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
