function Rabbit.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Rabbit.move 2
push argument 0
pop pointer 0
push constant 8
pop local 0
push local 0
call board.moveRabbit 1
pop temp 0
push constant 0
return
