{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="inc/jobs.css"><center><br>

{% block content %}
<form method="POST" action=".">
<table>
	{% csrf_token %}
	<tr><th>Username</th><td>{{ profiledetail.username }}</td></tr>
	<tr><th>Email</th><td>{{ profiledetail.useremail }}</td></tr>
	<tr><th>Recieve Emails</th><td>{{ form }}</td></tr>
	<tr><td></td><td><input type="submit" value="Update email status"></td><tr>
</table>
</form>
{% endblock %}



